.inpu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
input{
  width: 40%;
  padding: 12px;
  background-color: lightgrey;
  border:lightblue;
  outline: none;
  border-radius: 5px;
}