.inpu{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  
}
input{
  width: 40%;
  padding: 12px;
  background-color: lightgrey;
  border:lightblue;
  outline: none;
  border-radius: 5px;
  position: relative;
}